<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Manipulator UI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center cameras-header">Cameras View</h1>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ url_for('field_camera_feed') }}" class="img-fluid camera-view">
                    </div>
                    <div class="col-md-6">
                        <img src="{{ url_for('general_video_feed') }}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="getl-table-header" id="getl-table-header">Manipulator Data</h3>
                <span id="raw-coords">raw getl:</span>
                <table class="table getl-coords">
                    <thead>
                        <tr>
                            <th scope="col">Var</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">X</th>
                            <td id="getl-table-x">N/A</td>
                        </tr>
                        <tr>
                            <th scope="row">Y</th>
                            <td id="getl-table-y">N/A</td>
                        </tr>
                        <tr>
                            <th scope="row">Z</th>
                            <td id="getl-table-z">N/A</td>
                        </tr>
                        <tr>
                            <th scope="row">R_0</th>
                            <td id="getl-table-r-0">N/A</td>
                        </tr>
                        <tr>
                            <th scope="row">R_1</th>
                            <td id="getl-table-r-1">N/A</td>
                        </tr>
                        <tr>
                            <th scope="row">R_2</th>
                            <td id="getl-table-r-2">N/A</td>
                        </tr>
                        <tr>
                            <th scope="row">Connected</th>
                            <td id="robot-connected-status">N/A</td>
                        </tr>
                        <tr>
                            <th scope="row">Mode</th>
                            <td id="robot-mode-status">N/A</td>
                        </tr>
                        <tr>
                            <th scope="row">IP</th>
                            <td id="robot-ip-status">N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3 class="getl-table-header" id="getl-table-header">Manipulator Joystick</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>X, Y</h3>
                            <div class="btn-group-vertical w-100" role="group">
                                <button type="button" class="btn btn-secondary btn-lg"
                                    onclick="joystick_move('x+')"><span class="bi-caret-up-fill"></span></button>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-secondary btn-lg"
                                        onclick="joystick_move('y-')"><span class="bi-caret-left-fill"></span></button>
                                    <button type="button" class="btn btn-secondary btn-lg"
                                        onclick="joystick_move('y+')"><span class="bi-caret-right-fill"></span></button>
                                </div>
                                <button type="button" class="btn btn-secondary btn-lg"
                                    onclick="joystick_move('x-')"><span class="bi-caret-down-fill"></span></button>
                            </div>
                        </div>
                        <div class="col-md-4 z-joystick">
                            <h3>Z</h3>
                            <div class="btn-group-vertical w-100" role="group">
                                <button type="button" class="btn btn-primary btn-lg" onclick="joystick_move('z+')"><span
                                        class="bi-caret-up-fill"></span></button>
                                <button type="button" class="btn btn-primary btn-lg" onclick="joystick_move('z-')"><span
                                        class="bi-caret-down-fill"></span></button>
                            </div>
                        </div>

                        <div class="col-md-4 gripper-joystick">
                            <h3>Gripper: <span id="gripper-percent">N/A</span></h3>
                            <div class="btn-group-horizontal w-30" role="group">
                                <button type="button" class="btn btn-primary btn-lg" onclick="gripper_plus()"><span
                                        class="bi bi-plus-square-fill"></span></button>
                                <button type="button" class="btn btn-primary btn-lg" onclick="gripper_minus()"><span
                                        class="bi bi-dash-square-fill"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 40px;">
                        <div class="btn-group gap-2" role="group">
                            <div class="btn-group-vertical w-50 gap-1" role="group">
                                <button type="button" class="btn btn-success btn-lg" id="system-power-on-btn"
                                    onclick="robot_system_command('power_on')">Power ON</button>
                                <button type="button" class="btn btn-success btn-lg" id="system-brake-release-btn"
                                    onclick="robot_system_command('brake_release')">Release
                                    brakes</button>
                            </div>
                            <div class="btn-group-vertical w-20 gap-1" role="group">
                                <button type="button" class="btn btn-warning btn-lg" id="system-restart-btn"
                                    onclick="robot_system_command('power_off')">Power OFF</button>
                                <button type="button" class="btn btn-danger btn-lg" id="system-stop-btn"
                                    onclick="shutdown()">Shutdown</button>
                            </div>
                            <div class="btn-group-vertical w-20 gap-1" role="group">
                                <button type="button" class="btn btn-warning btn-lg" id="system-restart-btn"
                                    onclick="robot_system_command('close_popup')">Clear popup</button>
                                <button type="button" class="btn btn-secondary btn-lg" id="system-stop-btn"
                                    onclick="robot_system_command('show_popup')">Show popup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="move-l-send">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="MoveL 6 raw params" value="[0, 0, 0, 0, 0, 0]"
                        id="movel-input-data">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary w-100" id="movel-btn">MoveL</button>
                </div>
            </div>
        </div>

        <div class="set-ip">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Robot ip" value="192.168.2.172"
                        id="robot-ip-input">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-secondary w-100" id="movel-btn" onclick="robot_set_ip()">Set
                        IP</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="/static/index.js"></script>
</body>

</html>